h2{
    color: #C84C48;
    font-size: 40px;
    margin:1%;
}

#searchbox{
    width:400px;
    // background-color: black;
}

#searchBar{
    display:flex;
    margin-top:30px;
    width:1000px;
}

#search_bar{
    border-radius: 10px 0 0 10px;
    width: 850px;
    height:50px;
    border-color:#C4C4C4;
}

#sound{
    color:#C84C48;
    background-color: white;
    border:none;
}

#check{
    // left: 90%;
    width: 100px;
    height:55px; 
    background-color: #C84C48;
    border:none;
    border-radius: 0 10px 10px 0;

    i{
    color: white;
    }
}

#search:hover{
    background-color: #932825;
}

#word{
    font-size: 30px;;
}

#property{
    font-size:20px;
    color: #C84C48;
}

#sound{
    height:35px;
    margin:10px;
}

#mean{
    font-size:20px;
}

#synonym{
    font-size:23px;
    font-weight: bold;
    margin: 5px;
    margin-left: 10px;
}

#synonyms{
    display: flex;
}

#synonym_1{
    font-size:18px;
    background-color: #C84C48;
    color:white;
    border-radius: 25px;
    padding:10px;
}

#synonym_2{
    font-size:18px;
    background-color: #C84C48;
    color:white;
    border-radius: 25px;
    padding:10px;
}

#synonym_3{
    font-size:18px;
    background-color: #C84C48;
    color:white;
    border-radius: 25px;
    padding:10px;
}

@media only screen and (max-width:700px){

    #search_bar{
      width: 400px;
    }

    #searchbox{
        margin-bottom: 5px;
    }
}
