nav{
    display: flex;
}
.navigation { 
    grid-area: navigation; 
    background-color: #C84C48;
    color: white;
}

.navigation > ul{
    list-style-type: none;
    font-size: 20px;
    color:white;
    margin:20px;
    margin-left: 50px;
    padding: 0;
}

li > a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
} 

li a:hover{
    background-color: #AB140F;
    border-radius: 30px;
    color: white;
}

.navigation > h1{
  text-align: center;
  margin-bottom: 80px;
}

.navigation > #stopwatch{
    margin-top: 130%;
    margin-left: 40%;
    cursor:pointer;
    background-color: #C84C48;
    color:white;
    border: none;
}

.navigation > #stopwatch:hover{
    color:black;
}