// I use display: flex to build the layout, it is more flexible and can use justify-content, align-items, etc to adjust the layout.
nav{
    display: flex;
    align-items: center;
    margin:5px;
}

.navigation { 
    grid-area: navigation; 
    background-color: #C84C48;
    color: white;
}

#logo > img{
    width:80px;
    height:80px;
    border-radius: 0%;
    margin: 25px;
    margin-left:80px;
}

.navigation > ul{
    list-style-type: none;
    font-size: 20px;
    color:white;
    margin:20px;
    margin-left: 50px;
    padding: 0;
}

#nav > li > a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: white;
} 

li a:hover{
    background-color: #AB140F;
    border-radius: 30px;
    color: white;
}

.navigation > #stopWatch{
    margin-top: 130%;
    margin-left: 40%;
    cursor:pointer; 
    // Change the mouse style when the user hover the button, so that the user can know that the case can be clicked, which is more in line with the user's default cognition.
    background-color: #C84C48;
    color:white;
    border: none;
}

.navigation > #stopWatch:hover{
    color:#605F5F;
}

#title{
 color:white;
}

@media only screen and (max-width:700px){
    .navigation { 
        position:fixed;
        top:600px;
        height:60px;
        width:520px;
    }

    .navigation > h1{
        display:none;
    }

    .navigation > ul{
        margin-top:5px;
    }

    #nav{
        display:flex;
    } 

    #nav li{
        display:flex;
    } 

    #nav li a:hover{
        background-color:#C84C48;
    }

    .navigation{
        display:flex;
        justify-content: space-evenly;

    }

    .navigation > #stopWatch{
        margin-top: 0%;
        margin-left:0%;
    }
}