#pomodorotimer_1{
    display: inline;
    position: absolute;
    background-color: #FDF5F2;
    top: 0%;
    left: 50%;
    z-index: 2;
    border-radius: 5px;
    height:80px;
    width:250px;
}

#pomodorotimer.active{
    visibility: visible;
}

#pomodorotimer_1 > p{
    // display:inline;
    position:absolute;
    height:90px;
    top:20%;
    left:60px;
    font-size: 50px;
    margin: auto;
    text-align: center;
}

#times_1{
    // display:inline;
    color: white;
    background-color: #C84C48;
    border:none;
    font-size: 30px;
    margin-right: 100px;
}

#times_1:hover{
     background-color: #605F5F;
}

#full_screen{
    float: left;
    color: black;
    background-color: #FDF5F2;
    border:none;
    margin: -2px 5px;
}

#full_screen:hover{
    color: #C84C48;
}




#pomodorotimer{
    display:flex;
    position:absolute;
    width: 250px;
    height: 250px;
    left: 50%;
    top:10px;
    background: #FDF5F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 10px 10px;
    z-index: 1;
    visibility: hidden;
  }
  
  #focus{
    position: absolute;
    left:50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 450;
    font-size: 55px;
    line-height: 67px;
    color: #000000;
  }
  
  #break{
    position: absolute;
    left:85px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 200px;
    color: #000000;
  }
  
  #cycle{
    position: absolute;
    left:120px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 300px;
    color: #000000;
  }
  
  #tomato_img{
    position:absolute;
    height:100px; 
    width:100px;
    left:30px;
    top:100px;
  }
  
  #start{
    position:relative;
    left:20px;
    top: 200px;
    width:100px;
    height:30px;
    background-color: #C84C48;
    border: none;
    border-radius: 5px;
    color:white;
    font-size:20px;
  }
  
  #giveup{
    position:relative;
    left:30px;
    top: 200px;
    width:100px;
    height:30px;
    background-color: #C84C48;
    border: none;
    border-radius: 5px;
    color:white;
    font-size:20px;
  }
  
  #fullScreen{
    display:inline;
    float:right;
  }


  @media only screen and (max-width:700px){
    #pomodorotimer_1{
      position:fixed;
  }

  #pomodorotimer{
    position:fixed;
      left: 50%;
      top:-20px;
      background: #FDF5F2;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 0px 0px 10px 10px;
      z-index: 1;
      visibility: hidden;
  }

  #pomodorotimer_1 > p{
    font-size: 30px;
    height:0px;
    top:0px;
}

#pomodorotimer_1{
  height:60px;
  width:220px;
}

#break{
  font-size: 25px;
}

  }