#spopup{
    background-color: #FDF5F2;
    position: absolute;
    top: 430px; 
    left: 290px;
    z-index: 2;
    border-radius: 5px;
    visibility: hidden;
    width:280px;
}

#spopup.active{
    visibility: visible;
    // transition: .4s linear;
}

#close{
    color: #C84C48;
    background-color: #FDF5F2;
    border:none;
    float: right;
}

#close:hover{
    color: #605F5F;
}

#stopwatch_start, #stopwatch_stop, #stopwatch_reset{
    background-color: #C84C48;
    color:white;
    border:none;
    border-radius: 5px;
    font-size: 30px;
    margin-bottom: 20px;
}

#stopwatch_start{
    margin-left: 10px;
}

button:hover{
    background-color: #605F5F;
    color:white;
}

#num{
    color:black;
    font-size: 55px;
    margin-left: 10px;
}
