#spopup{
    background-color: black;
    transform: translate(100%, -120%);
    z-index: 2;
    border-radius: 5px;
    opacity: 0;
}

.active{
    background-color: #FDF5F2;
    transform: translate(100%, -120%);
    z-index: 2;
    border-radius: 5px;
    opacity: 1;
    // transition: .4s linear;
}

#close{
    color: #C84C48;
    background-color: #FDF5F2;
    border:none;
    float: right;
}

#close:hover{
    color: #605F5F;
}

button{
    background-color: #C84C48;
    color:white;
    border:none;
    border-radius: 5px;
    font-size: 30px;
    margin-bottom: 20px;
}

#button-start{
    margin-left: 10px;
}

button:hover{
    background-color: #605F5F;
    color:white;
}

p{
    color:black;
    font-size: 55px;
    margin-left: 10px;
}
