.task-list { 
    grid-area: task-list;  
}
// #taskform{
//     grid-area: taskform;
//     max-width: 300px;
//     margin: 0 auto;

//     label{
//         display:block;
//         width: 100%;
//     }
// }
h2{
    display: inline-block;
    color: #C84C48;
    font-size: 30px;
    margin:1%;
}
#column_box, #column_name{
        display:flex;
        justify-content: flex-start;
        margin: -10px;
}
.box1, .box2, .box3{
        width:370px;
        height:550px;
        margin-left: 15px;
        margin-right:3px;
        border-radius: 15px;
        border-top-left-radius: 0%;
        border-top-right-radius: 0%;
    }

    .box1{
        background-color: rgba($color: #33658a, $alpha: 0.2);
    }
    .box2{
        background-color:rgba($color: #356F30, $alpha: 0.2);
    }
    .box3{
        background-color:rgba($color: #F77F00, $alpha: 0.6);
        opacity:0.2;
    }

    .box4, .box5, .box6{
        width:370px;
        height:50px;
        margin-left: 15px;
        margin-right:3px;
        margin-bottom: 0px;
        border-radius: 15px;
        border-bottom-left-radius: 0%;
        border-bottom-right-radius: 0%;

        p{
            color:white;
            margin-top:15px;
            margin-left: 3%;
            font-size: 16px;
            font-weight: bold;

            .material-icons, #newTask{
                display:flex;
                float:right;
                margin-right:15px;
                cursor:pointer;
            }
        }
    }

    .box4{
        background-color:#33658A;
    }
    .box5{
        background-color:#356F30;
    }
    .box6{
        background-color:#F77F00;
    }

    #newTask{
        background-color:#33658A;
        border:none;
        color:white;
    }

    @media only screen and (max-width:700px){
        .box1, .box2, .box3{
            width:500px;
            height:400px;
        }

        h2{
            font-size: 30px;
        }
    }