#whitenoise_1{
    display: inline-block;
    position: absolute;
    background-color: #FDF5F2;
    top: 0%;
    left: 70%;
    height:50px;
    width:300px;
    z-index: 2;
    border-radius: 5px;
    padding:5px;

    p{
        font-size: 20px;
        display:inline;
        margin-right: 10%;
    }
}

#whitenoise.active{
  visibility: visible;
}

#whitenoise_1 > button{
    display:flex;
    float:left;
    color: black;
    background-color: #FDF5F2;
    border:none;
    cursor:pointer;
}

#whitenoise_1 > button:hover{
    color: #C84C48;
}





#whitenoise{
    display: inline-block;
    position: absolute;
    background-color: #FDF5F2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius:5px;
    padding:5px 30px;
    height:400px;
    width:250px;
    top: 50px;
    left: 70%;
    z-index: 1;
    visibility: hidden;
  }
  
  #top_bar, #time, #buttons{
    display:flex;
    align-items:center;
    justify-content:space-between;
  }
  
  #function_name{
    font-size:25px;
    margin-left: 40px;
  }
  
  // #musiclist{
  //   float:right;
  //   margin-left:20px;
  // }
  
  #musiclist:hover{
    color:#C84C48;
  }
  
  #img_area{
    border-radius:300px;
    height:220px;
    width:100%;
  }

  #img_area > img{
    border-radius:300px;
    height:220px;
    width:100%;
  }
  
  #whitename{
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:25px;
    margin:5px;
  }
  
  #progress{
    width:100%;
    height:6px;
    background-color: #C4C4C4;
    border-radius:5px;
  }
  
  #progress > #progressbar{
    height:inherit;
    width:0%;
    border-radius:inherit;
    background-color: #C84C48;
  }
  
  #buttons{
    margin:40px 0 5px 0;
    cursor:pointer;
  }
  
  #next{
    margin-right:25px;
  }
  
  #previous{
    margin-left:25px;
  }

  
  
  #previous:hover{
    color:#C84C48;
  }
  
  #play:hover{
    color:#C84C48;
  }
  
  #next:hover{
    color:#C84C48;
  }


  @media only screen and (max-width:700px){
    #whitenoise_1{
      position:fixed;
      top: 550px;
      left: 15px;
      height:40px;
      width:510px;
    }

    #whitenoise_1 > button{
     float:right;
    }

    #whitenoise{
      position:fixed;
      height:400px;
      width:460px;
      top: 150px;
      left: 15px;
    }

    #img_area{
      margin:5px 25%;
    }

    #img_area > img{
      align-items: center;
      height:220px;
      width:50%;
    }

}